*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

/*menu de navegacion*/

.menuNav{
    width: 100%;
    background-color: #333;
    position: fixed;
    top:0;
    z-index: 10;
}

.logo {
    font-size: 2.1em;
    display: inline-block; 
}

.menuNav ul {
    display: inline;
    margin-left: auto;
}

.menuNav ul li {
    display: inline;
}

.menuNav ul li a {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 20px 10px;
    font-size: 1.2em;
    color: #eee;
}

.bg-image {
    height: 100 vh;
    width: 100%;
    position: relative;
    background: url(https://fastly.picsum.photos/id/16/2500/1667.jpg?hmac=uAkZwYc5phCRNFTrV_prJ_0rP0EdwJaZ4ctje2bY7aE);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-content {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: 45vh;
}

.fila {
    width: 100%;
    padding: 1em;
}

.img-container {
    width: 80%;
}

.img-container img {
    width: 100%;

}

.text-container {
    text-align: center;
}

.footer

@media screen and (min-width: 992 px) {
    .hero-content h1 {
        font-size 3.5em;
    }
}
    